#my-pic {
    width: 50%;
}

#bio {
    margin-bottom: 20px;
}

body {
    color: #0f1334;
    font-family: 'Nunito Sans', sans-serif;
    /* font-size segun https://matthewjamestaylor.com/responsive-font-size para asegurar que sea responsive */
    font-size: calc(15px + 0.390625vw);
}

.enfasis {
    font-weight: 600;
}
